{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
<head>
  {% tailwind_css %}
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="{% static 'fontawesomefree/css/fontawesome.css' %}" type='text/css'>
		<link rel="stylesheet" href="{% static 'fontawesomefree/css/solid.css' %}" type='text/css'>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
</head>
	<body class="bg-gray-50 leading-normal poppins tracking-normal uppercase">
			<header class="bg-white border-b-2 border-cyan-700 rounded-md shadow-2xl mx-4">
					<nav class="flex flex-row max-xs:flex-wrap max-sm:flex-col justify-between mt-0 max-sm:gap-4 gap-10 p-3 rounded-sm">
						{% if request.user.is_authenticated and request.user.is_staff %}
						{% if request.path == '/' %}
						{%else%}
						  <div class="">
							<a href="{% url 'index' %}" class="focus:opacity-10 border-b-2 border-gray-500 focus:border-green-600 
							bg-gradient-to-l from-cyan-900 via-cyan-600 to-cyan-900 text-white p-2 px-4 rounded shadow-lg hover:shadow-xl 
							text-center w-full"><i class="fa-solid fa-house fa-xl"></i></a>
						</div> 
						{%endif%}
						
						<div class="">
						<a href="#"><i class="text-green-800 fa-solid fa-circle-user fa-xl"></i>
						<span class="border-b-2 border-cyan-800 text-green-800 text-lg font-bold uppercase"> {{request.user}}</span></span></a>
						</div>

						<div class="">									
						<a class="focus:opacity-10 p-2 px-4 border-b-4 border-gray-500 focus:border-green-600 bg-gradient-to-l from-red-900 via-red-700 to-red-900 text-white rounded shadow-lg hover:shadow-xl text-center text-xs max-sm:w-1/2 w-full" href="{% url 'logout' %}">
						<i class="fa-solid fa-arrow-right-from-bracket fa-2xl"></i></a>
						</div>
						{% else %}
						{% endif %}
					</nav>
				</header>
				<div class="container mx-2 p-2">
				{% block content %}{% endblock %}
				</div>		
	</body>
</html>
