{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
<head>
  {% tailwind_css %}
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="{% static 'fontawesomefree/css/fontawesome.css' %}" type='text/css'>
		<link rel="stylesheet" href="{% static 'fontawesomefree/css/solid.css' %}" type='text/css'>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body class="uppercase  bg-gradient-to-r from-white via-cyan-100 to-white ">
		<header class="">
		<nav class="mx-auto p-1 flex justify-between uppercase text-white text-xs fixed top-0 z-10 shadow-xl border-b-2 border-cyan-800 w-full bg-gradient-to-r from-cyan-700 via-cyan-500 to-cyan-700">
			{%if request.user.is_authenticated %}
		<span class="p-2"> <a href="{%url "index" %}">
			welcome, {{ request.user.first_name|default:request.user.username }}
		</a>
	</span>
	{%if request.path != '/' %}
	<span class="p-2">
		<a href="{% url "list" %}" class="mr-2">items</a>
		<a href="{% url "record" %}" class="mr-2">record</a>
		<!-- <a href="{% url "report" %}" class="mr-2">report</a> -->
		<a href="{% url "worth" %}" class="">worth</a>
	</span>
	{% endif %}
	{% endif %}
		<span class="p-2 font-light mb-1">
			{% if request.user.is_authenticated %}
      		<a href="{%url 'admin:index' %}" class="underline mr-10">admin site</a>
 		    <a href="{% url "logout" %}" class="mt-2 focus:opacity-10 bg-red-600 text-white p-2 hover:bg-white hover:text-red-600 hover:border-2 hover:border-red-600 rounded shadow-lg hover:shadow-xl w-1/2 text-xs">
			<i class="fa-solid fa-xmark fa-lg"></i><span class="ml-2">logout</span></a>
			 {% else %}
				 {%if request.path != '/login/' %}
			<a href="{% url "signin" %}" class="focus:opacity-10 hover:bg-gray-50 hover:text-zinc-700 hover:border-2 hover:border-cyan-600 bg-white text-cyan-500 p-2 rounded shadow-lg hover:shadow-xl w-1/2 text-xs">
			<i class="fa-solid fa-arrow-right-to-bracket fa-lg"></i><span class="ml-2">login</span></a>
			{% endif %}
			{% endif %}
    	</span>
	</nav>
	</header>
    {% block content %}
	{% endblock %}
</body>
</html>
