    <div class="tab-list" role="tablist">
        <button hx-get="/bio-data"  role="tab" aria-selected="false" aria-controls="tab-content">Bio Data</button>
        <button hx-get="/qual" role="tab" aria-selected="false" aria-controls="tab-content">Qualification</button>
        <button hx-get="/pro_qual" role="tab" aria-selected="false" aria-controls="tab-content">Professional Qualification</button>
        <button hx-get="/govapp" class="selected" role="tab" aria-selected="false" aria-controls="tab-content">Government Appointment</button>
        <button hx-get="/leave" role="tab" aria-selected="false" aria-controls="tab-content">Leave</button>
        <button hx-get="/promotion" role="tab" aria-selected="false" aria-controls="tab-content">Promotion</button>
        <button hx-get="/discipline" role="tab" aria-selected="false" aria-controls="tab-content">Discipline</button>
        <button hx-get="/execapp" role="tab" aria-selected="false" aria-controls="tab-content">Executive Appointment</button>
        <button hx-get="/retirement" role="tab" aria-selected="false" aria-controls="tab-content">Retirment</button>
    </div>
    
    <div id="tab-content" role="tabpanel" class="tab-content">
        <p class="text-red-500">Government Appointment Info</p>
        <p>post:{{govapp.cpost}}</p>
  <hr>
<a href="{%url 'update_govapp' profile.pk %}">update govt appt</a><br>
<br><hr>
    </div>