    <div class="tab-list" role="tablist">
        <button hx-get="/bio-data"  role="tab" aria-selected="false" aria-controls="tab-content">Bio Data</button>
        <button hx-get="/qual" role="tab" aria-selected="false" aria-controls="tab-content">Qualification</button>
        <button hx-get="/pro_qual" role="tab" aria-selected="false" aria-controls="tab-content">Professional Qualification</button>
        <button hx-get="/govapp" role="tab" aria-selected="false" aria-controls="tab-content">Government Appointment</button>
        <button hx-get="/leave" class="selected" role="tab" aria-selected="false" aria-controls="tab-content">Leave</button>
        <button hx-get="/promotion" role="tab" aria-selected="false" aria-controls="tab-content">Promotion</button>
        <button hx-get="/discipline" role="tab" aria-selected="false" aria-controls="tab-content">Discipline</button>
        <button hx-get="/execapp" role="tab" aria-selected="false" aria-controls="tab-content">Executive Appointment</button>
        <button hx-get="/retirement" role="tab" aria-selected="false" aria-controls="tab-content">Retirment</button>
    </div>
    
    <div id="tab-content" role="tabpanel" class="tab-content">
        <p>Leave Info</p>
        <h1>leave</h1>
<a href="{%url 'leave' username=profile.user.username %}">add<br>
  <hr>
{% for l in leave %}
    <p>{{ l.nature }}</p>
    <p>{{ l.year }}</p>
    <a href="{%url 'leave_update' l.pk %}">update</a><br>
    <a href="{%url 'leave_delete' l.pk %}">delete</a><br>
    <hr>
{% endfor %}
<br><hr>

    </div>