<div class="tab-list" role="tablist">
        <button hx-get="/bio-data" class="selected" role="tab" aria-selected="false" aria-controls="tab-content">Bio Data</button>
        <button hx-get="/qual" role="tab" aria-selected="false" aria-controls="tab-content">Qualification</button>
        <button hx-get="/pro_qual" role="tab" aria-selected="false" aria-controls="tab-content">Professional Qualification</button>
        <button hx-get="/govapp" role="tab" aria-selected="false" aria-controls="tab-content">Government Appointment</button>
        <button hx-get="/leave" role="tab" aria-selected="false" aria-controls="tab-content">Leave</button>
        <button hx-get="/promotion" role="tab" aria-selected="false" aria-controls="tab-content">Promotion</button>
        <button hx-get="/discipline" role="tab" aria-selected="false" aria-controls="tab-content">Discipline</button>
        <button hx-get="/execapp" role="tab" aria-selected="false" aria-controls="tab-content">Executive Appointment</button>
        <button hx-get="/retirement" role="tab" aria-selected="false" aria-controls="tab-content">Retirment</button>
    </div>
    
    <div id="tab-content" role="tabpanel" class="tab-content">

dob:{{profile.dob|default_if_none:''}}
  file number:{{profile.file_no|default_if_none:''}}
  personal info
</div>