    <div class="tab-list" role="tablist">
        <button hx-get="/bio-data"  role="tab" aria-selected="false" aria-controls="tab-content">Bio Data</button>
        <button hx-get="/qual" role="tab" aria-selected="false" aria-controls="tab-content">Qualification</button>
        <button hx-get="/pro_qual" class="selected" role="tab" aria-selected="false" aria-controls="tab-content">Professional Qualification</button>
        <button hx-get="/govapp" role="tab" aria-selected="false" aria-controls="tab-content">Government Appointment</button>
        <button hx-get="/leave" role="tab" aria-selected="false" aria-controls="tab-content">Leave</button>
        <button hx-get="/promotion" role="tab" aria-selected="false" aria-controls="tab-content">Promotion</button>
        <button hx-get="/discipline" role="tab" aria-selected="false" aria-controls="tab-content">Discipline</button>
        <button hx-get="/execapp" role="tab" aria-selected="false" aria-controls="tab-content">Executive Appointment</button>
        <button hx-get="/retirement" role="tab" aria-selected="false" aria-controls="tab-content">Retirment</button>
    </div>
    
    <div id="tab-content" role="tabpanel" class="tab-content">
        <p>Professional Qualification Info</p>
        <h1>professional qualification</h1>
<a href="{%url 'pro_qual' username=profile.user.username %}">add<br>
  <hr>
{% for p in pro_qualifications %}
    <p>{{ p.institute }}</p>
    <p>{{ p.inst_address }}</p>
    <a href="{%url 'pro_qual_update' p.pk %}">update</a><br>
<a href="{%url 'pro_qual_delete' p.pk %}">delete</a><br>
    <hr>
{% endfor %}
<br><hr>

    </div>