    <div class="tab-list" role="tablist">
        <button hx-get="/bio-data"  role="tab" aria-selected="false" aria-controls="tab-content">Bio Data</button>
        <button hx-get="/qual" role="tab" aria-selected="false" aria-controls="tab-content">Qualification</button>
        <button hx-get="/pro_qual" role="tab" aria-selected="false" aria-controls="tab-content">Professional Qualification</button>
        <button hx-get="/govapp" role="tab" aria-selected="false" aria-controls="tab-content">Government Appointment</button>
        <button hx-get="/leave" role="tab" aria-selected="false" aria-controls="tab-content">Leave</button>
        <button hx-get="/promotion" role="tab" aria-selected="false" aria-controls="tab-content">Promotion</button>
        <button hx-get="/discipline"  role="tab" aria-selected="false" aria-controls="tab-content">Discipline</button>
        <button hx-get="/execapp" role="tab" aria-selected="false" aria-controls="tab-content">Executive Appointment</button>
        <button hx-get="/retirement" class="selected"  role="tab" aria-selected="false" aria-controls="tab-content">Retirment</button>
    </div>
    
    <div id="tab-content" role="tabpanel" class="tab-content">
        <p>Retirement Info</p>
        <h1>retire</h1>
{% if not profile.user.retirement %}
<a href="{%url 'retire' username=profile.user.username %}">add<br>
  {%endif%}
  <hr>
{% for r in retirement %}
    <p>{{ r.status }}</p>
    <p>{{ r.retire }}</p>
    <a href="{%url 'retire_update' r.pk %}">update</a><br>
    <a href="{%url 'retire_delete' r.pk %}">delete</a><br>
    <hr>
{% endfor %}
<br><hr>

    </div>