{% load static %}
{%block content %}
<div id="modal" class="uk-modal" style="display:block;">
	<div class="uk-modal-dialog uk-modal-body rounded-2xl font-semibold text-sm bg-gray-200">			
			<button 
				id="cancelButton"
				type="button"  
				_="on click take .uk-open from #modal wait 200ms then remove #modal"><i class="fa-solid fa-times fa-2xl text-rose-700"></i></button>
		<div class="flex justify-center m-2 pb-6">
  <div class="">
      <div class="block text-sm text-red-500">
        {% if form.errors %}
        {{form.errors}}
        {% endif %}
      </div>
    <form action="{% url 'reg' %}" method="POST" class="text-xs" _="on submit .uk-open from #modal">
      {% csrf_token %}
      <div class="mb-1  text-cyan-900">
        <div class="flex justify-center">
          <label for="uname">username</label>
        </div>
        <div class="flex justify-center mb-4">
          <input
            id="uname"
            class="lg:w-80 text-center mt-2 text-sm focus:outline-none border-b-4 border-cyan-900 text-cyan-950 py-2 rounded shadow-lg 
            hover:border-cyan-700 focus:border-cyan-700"
            type="text"
            name="username"
          />
        </div>
        <div class="flex justify-center">
          <label for="email">email</label>
        </div>
        <div class="flex justify-center mb-4">
          <input
            id="email"
            class="lg:w-80 text-center mt-2 text-sm focus:outline-none border-b-4 border-cyan-900 text-cyan-950 py-2 rounded shadow-lg
          hover:border-cyan-700 focus:border-cyan-700"
            type="text"
            name="email"
          />
        </div>
        <div class="flex justify-center">
          <label for="lname">surname</label>
        </div>
        <div class="flex justify-center mb-4">
          <input
            class="lg:w-80 text-center mt-2 text-sm focus:outline-none border-b-4 border-cyan-900 text-cyan-950 py-2 rounded shadow-lg 
            hover:border-cyan-700 focus:border-cyan-700"
            type="text"
            name="last_name"
            id="lname"
          />
        </div>
        <div class="flex justify-center">
          <label for="fname">firstname</label>
        </div>
        <div class="flex justify-center mb-4">
          <input
            class="lg:w-80 text-center mt-2 text-sm focus:outline-none border-b-4 border-cyan-900 text-cyan-950 py-2 rounded shadow-lg 
            hover:border-cyan-700 focus:border-cyan-700"
            type="text"
            name="first_name"
            id="fname"
          />
        </div>
        <div class="flex justify-center">
          <label for="password">password </label>
        </div>
        <div class="flex justify-center mb-4">
          <input
            class="lg:w-80 text-center mt-2 text-sm focus:outline-none border-b-4 border-cyan-900 text-cyan-950 py-2 rounded shadow-lg 
            hover:border-cyan-700 focus:border-cyan-700"
            type="password"
            name="password1"
            id="password"
          />
        </div>
        <div class="flex justify-center">
          <label for="conpassword">confirm password </label>
        </div>
        <div class="flex justify-center mb-4">
          <input
            class="lg:w-80 text-center mt-2 text-sm focus:outline-none border-b-4 border-cyan-900 text-cyan-950 py-2 rounded shadow-lg 
            hover:border-cyan-700 focus:border-cyan-700"
            type="password"
            name="password2"
            id="conpassword"
          />
        </div>
        <div class="flex justify-center mb-4">
          <input
            class="text-xs uppercase mt-2 focus:opacity-10 border-b-4 border-gray-500 focus:border-cyan-600 bg-gradient-to-r
             from-cyan-900 via-cyan-600 to-cyan-900 text-white py-2 rounded shadow-lg hover:shadow-xl text-center w-1/2"
            type="submit"
            value="Register"
          />
        </div>
       
      </div>
    </form>
  </div>
</div>

	</div>
</div>

{% endblock %}