{% extends 'base.html'%}
{% load static %}
{%block title%}Login{%endblock%}

{%block content %}
<div class="flex justify-center mt-24">
  <div class="font-semibold uppercase text-sm sm:max-w-lg px-16  shadow-2xl border-double border-cyan-800 overflow-hidden shadow-teal-900 rounded-xl bg-white">
    <section class="text-center border-b-2 border-cyan-700 p-2">
      <h2 class="text-white bg-cyan-900 w-fit p-2 rounded-xl text-xs uppercase m-2">sign in to your account</h2>
      {% for message in messages %}
      <div class="">
        <p class="text-green-700 uppercase font-bold text-md">{{ message }}</p>
      </div>
      {% endfor %}
    </section>
      <div class="block text-sm text-red-500">
          {% if form.errors %}
          {{form.errors}}
          {% endif %}
      </div>
    <form action="" method="POST" class="text-xs ">
      {% csrf_token %}
      <div class="mb-2 uppercase text-cyan-900">
        <div class="flex justify-center">
          <label for="uname">username</label>
        </div>
        <div class="flex justify-center mb-6">
          
          <input
            class="text-center mt-2 text-sm focus:outline-none border-b-4 border-cyan-900 text-cyan-950 py-3 rounded shadow-lg
             hover:border-cyan-700 focus:border-cyan-700"
            type="text"
            name="username"
            id="uname"
          />
        </div>
        <div class="flex justify-center">
          <label for="password">password </label>
        </div>
        <div class="flex justify-center mb-4">
          <input
            class="text-center mt-2 text-sm focus:outline-none border-b-4 border-cyan-900 text-cyan-950 py-3 rounded shadow-lg
             hover:border-cyan-700 focus:border-cyan-700"
            type="password"
            name="password"
            id="password"
          />
        </div>
        <div class="flex justify-center">
          <div class="flex justify-center w-full">
            <input
            class="mt-2 focus:opacity-10 uppercase border-b-4 border-gray-500 focus:border-cyan-600 bg-gradient-to-r
            from-cyan-900 via-cyan-600 to-cyan-900 text-white py-2 rounded shadow-lg hover:border-cyan-700 text-center w-1/2"
            type="submit"
            value="Login"
            />
          </div>
        </div>
      </div>
    </form>
    <section class="text-center border-t-2 border-cyan-800 m-4">
      <div class="mt-2 flex items-center">
        <p class="mt-4 text-cyan-800 text-xs">
          <a
            class="border-b-2 border-blue-600 text-sm text-bold text-blue-800 ml-1"
            href="{%url 'register' %}"
            >register</a
          >
          instead
        </p>
      </div>
    </section>
  </div>
  </div>
    {% endblock %}
