{%extends "base.html" %}
{% block title %}notice{%endblock%}
{% block content %}
<div class="grid grid-rows-1 gap-2 m-6 uppercase">
<div class="max-sm:w-full w-1/2 mx-auto mt-1 md:p-8  shadow-2xl overflow-hidden rounded-lg backdrop-blur-sm border-2 border-amber-600 text-amber-600">
        <section class=" text-center">
            <p class="text-2xl mt-4">
                Total:{{leave_count}}
            </p>            
            <div class="max-sm:text-sm">
    <table class="justify-center table-auto max-sm:flex p-2 flex">
        <tbody class="uppercase text-sm max-sm:p-8 p-2 overflow-x-auto mx-0 ">
        <tr class=" text-sm rounded-xl">
            <th scope="col" class="border-2 p-2 ">s/n</th>
            <th scope="col" class="border-2 p-2 ">name</th>
            <th scope="col" class="border-2 p-2 ">phone</th>
            <th scope="col" class="border-2 p-2 ">department</th>
        </tr>
{% for l in leave_st %}
        <tr class="p-2 text-md ">
        <td class="border-2 p-0 text-center">{{forloop.counter}}</td>            
        <td class="border-2 p-2 text-center "><a href="{{l.user.profile.get_absolute_url}}">{{ l.user.get_full_name|default_if_none:''|upper }} {{ l.middlename|default_if_none:''|upper }}</a></td>
        <td class="border-2 p-2 text-center ">{{l.user.profile.phone|default_if_none:''}}</td>
        <td class="border-2 p-2 text-center ">{{l.user.governmentappointment.department|default_if_none:''}}</td>
{% empty %}
    <p>No data available</p>
{% endfor %}
    </tr>
        </tbody>
    </table>
</section>
</div>
</div>

</div>
</div>
{% endblock %}