{%extends "base.html" %}
<h1>notice</h1>
{% block title %}notice{%endblock%}
{% block content %}
<div class="mt-24">
    <div class="uppercase text-sm sm:max-w-fit shadow-2xl shadow-black rounded-2xl bg-gray-100 p-20 mx-auto">
        <section class="text-center">
            <h1 class="enom text-4xl text-cyan-800">NOTICE</h1>
        </section>
        <div class="mt-10 text-xs flex justify-center flex-row w-full max-sm:grid max-sm:grid-cols-2 max-sm:gap-8 gap-4">
            <div class="">
                <a href="{% url 'notice_promotion' %}"class="mb-2 focus:opacity-10 border-b-4 border-white focus:border-green-600 bg-cyan-700 text-white max-sm:p-2 p-4 rounded-2xl shadow-lg hover:shadow-xl text-center max-sm:w-1/2 w-full">
                <i class="fa-solid fa-person-arrow-up-from-line fa-2xl"></i>
                promotion</a>
            </div>
            <div class="">
                <a href="{% url 'notice_leave' %}"class="mb-2 focus:opacity-10 border-b-4 border-white focus:border-green-600 bg-amber-600 text-white max-sm:p-2 p-4 rounded-2xl shadow-lg hover:shadow-xl text-center max-sm:w-1/2 w-full">
                <i class="fa-solid fa-bed fa-2xl"></i>
                leave notice</a>
            </div>
            <div class="">
                <a href="{% url 'notice_retirement' %}"class="mb-2 focus:opacity-10 border-b-4 border-white focus:border-green-600 bg-emerald-700 text-white max-sm:p-2 p-4 rounded-2xl shadow-lg hover:shadow-xl text-center max-sm:w-1/2 w-full">
                <i class="fa-solid fa-person-walking-with-cane fa-2xl"></i>
                retirement notice</a>
            </div>
           </div>
           </div>
           </div> 
{% endblock %}