{%extends "base.html" %}
<h1>Stats</h1>
{% block title %}stats{% endblock%}
{% block content %}
<div class="justify-center text-center items-center flex">
    <h1 class="enom uppercase m-2">statistics</h1>
</div>
<div class="flex justify-center items-center">
<div class=" p-10 mt-2 max-sm:p-4 max-sm:mt-10 grid grid-cols-3 gap-20 max-sm:grid max-sm:grid-cols-2">
<div>
<details> 
    <summary class="bg-cyan-600 p-2 text-white text-center text-lg rounded-full w-fit">GENDER</summary>
    <table class="justify-center table-auto m-2 max-sm:flex p-2">
        <tbody class="uppercase text-sm rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 text-cyan-600 bg-white">
            <tr class=" text-sm">
              {%for g in gender_counts %}
            <th scope="col" class="border-2 p-2 ">{{g.gender}}</th>
            <th class="border-2 p-2 text-center">{{g.pc}}</th>
            {% endfor %}
          </tr>
        </tbody>
    </table>
</details>
</div>
<div>
    <details>
        <summary class="bg-blue-600 p-2 text-white text-lg rounded-full w-fit text-center">GEO-POLITICAL ZONE</summary>
    <table class="justify-center table-auto  m-2 max-sm:flex p-2">
        <tbody class="uppercase  text-sm rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 text-blue-700 bg-white">
            <tr class=" text-sm">
            {%for gz in geo_counts %}
            <th scope="col" class="border-2 p-2 ">{{gz.zone}}</th>
            <td class="border-2 p-2 text-center">{{gz.pc}}</td>
            {%endfor%}
        </tr>
        </tbody>
    </table>
    </details>
</div>

<div>
    <details>
        <summary class=" bg-amber-600 p-2 text-white  text-lg rounded-full w-fit text-center">STATE OF ORIGIN</summary>
            <table class="justify-center table-auto  m-2 max-sm:flex p-2">
        <tbody class="uppercase  text-sm rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 text-amber-600 bg-white">
            <tr class=" text-sm">
                {%for s in state_counts %}
            <th scope="col" class="border-2 p-2 ">{{s.state}}</th>
            <td class="border-2 p-2 text-center">{{s.pc}}</td>
            {%endfor%}
        </tr>
        </tbody>
    </table>
    </details>
</div>

<div>
    <details>
        <summary class=" bg-cyan-800 p-2 text-white  text-lg rounded-full w-fit text-center">LGA</summary>
    <table class="justify-center table-auto  m-2 max-sm:flex p-2">
        <tbody class="uppercase  text-sm rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 text-cyan-800 bg-white">
            <tr class=" text-sm">
                {%for l in lga_counts%}
            <th scope="col" class="border-2 p-2 ">{{l.lga}}</th>
            <td class="border-2 p-2 text-center">{{l.pc}}</td>
            {%endfor%}
        </tr>
        </tbody>
    </table>
    </details>    
</div>

<div>
    <details>
        <summary class=" bg-teal-400 p-2 text-white  text-lg rounded-full w-fit text-center">RELIGION</summary>
        <table class="justify-center table-auto  m-2 max-sm:flex p-2">
        <tbody class="uppercase  text-sm rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 text-teal-400 bg-white">
            <tr class=" text-sm">
                {%for r in religion_counts %}
            <th scope="col" class="border-2 p-2 ">{{r.religion}}</th>
            <td class="border-2 p-2 text-center">{{r.pc}}</td>
            {%endfor%}
        </tr>
        </tbody>
    </table>
</details>    
</div>

<div>
    <details>
        <summary class=" bg-orange-500 p-2 text-white  text-lg rounded-full w-fit text-center">MARITAL STATUS</summary>
        <table class="justify-center table-auto  m-2 max-sm:flex p-2">
        <tbody class="uppercase  text-sm rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 text-orange-500 bg-white">
            <tr class=" text-sm">
            {%for m in ms_counts %}
            <th scope="col" class="border-2 p-2 ">{{m.marital_status}}</th>
            <td class="border-2 p-2 text-center">{{m.pc}}</td>
            {%endfor%}
        </tr>
        </tbody>
    </table>
</details>    
</div>

<div>
    <details>
        <summary class=" bg-green-500 p-2 text-white  text-lg rounded-full w-fit text-center">TYPE OF CADRE</summary>
        <table class="justify-center table-auto  m-2 max-sm:flex p-2">
        <tbody class="uppercase  text-sm rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 text-green-500 bg-white">
            <tr class=" text-sm">
                {%for t in tc_counts %}
            <th scope="col" class="border-2 p-2 ">{{t.type_of_cadre}}</th>
            <td class="border-2 p-2 text-center">{{t.pc}}</td>
            {%endfor%}
        </tr>
        </tbody>
    </table>
</details>    
</div>

<div>
    <details>
        <summary class=" bg-purple-600 p-2 text-white  text-lg rounded-full w-fit text-center">DEPARTMENT</summary>
        <table class="justify-center table-auto  m-2 max-sm:flex p-2">
        <tbody class="uppercase  text-sm rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 text-purple-600 bg-white">
            <tr class=" text-sm">
                {%for d in department_counts%}
            <th scope="col" class="border-2 p-2 ">{{d.department}}</th>
            <td class="border-2 p-2 text-center">{{d.pc}}</td>
            {%endfor%}
        </tr>
        </tbody>
    </table>
</details>    
</div>

<div>
    <details>
        <summary class=" bg-red-600 p-2 text-white  text-lg rounded-full w-fit text-center">CADRE</summary>
    <table class="justify-center table-auto  m-2 max-sm:flex p-2">
        <tbody class="uppercase  text-sm rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 text-red-600 bg-white">
            <tr class=" text-sm">
                {%for c in cpost_counts %}
            <th scope="col" class="border-2 p-2 ">{{c.cpost}}</th>
            <td class="border-2 p-2 text-center">{{c.pc}}</td>
            {%endfor%}
        </tr>
        </tbody>
    </table>
    </details>    
</div>

<div>
    <details>
        <summary class=" bg-teal-600 p-2 text-white  text-lg rounded-full w-fit text-center">SALARY SCALE</summary>
    <table class="justify-center table-auto  m-2 max-sm:flex p-2">
        <tbody class="uppercase  text-sm rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 text-teal-600 bg-white">
            <tr class=" text-sm">
                {%for ss in ss_counts %}
            <th scope="col" class="border-2 p-2 ">{{ss.salary_scale}}</th>
            <td class="border-2 p-2 text-center">{{ss.pc}}</td>
            {%endfor%}
        </tr>
        </tbody>
    </table>
    </details>    
</div>

<div>
    <details>
        <summary class=" bg-stone-600 p-2 text-white  text-lg rounded-full w-fit text-center">GRADE LEVEL</summary>
    <table class="justify-center table-auto  m-2 max-sm:flex p-2">
        <tbody class="uppercase  text-sm rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 text-stone-600 bg-white">
            <tr class=" text-sm">
            {%for gl in gl_counts %}
            <th scope="col" class="border-2 p-2 ">{{gl.grade_level}}</th>
            <td class="border-2 p-2 text-center">{{gl.pc}}</td>
            {%endfor%}
        </tr>
        </tbody>
    </table>
    </details>    
</div>

<div>
    <details>
        <summary class=" bg-indigo-600 p-2 text-white  text-lg rounded-full w-fit text-center">EDUCATIONAL CATEGORY</summary>
    <table class="justify-center table-auto  m-2 max-sm:flex p-2">
        <tbody class="uppercase  text-sm rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 text-indigo-600 bg-white">
            <tr class=" text-sm">
                {% for sc in sc_counts %}
            <th scope="col" class="border-2 p-2 ">{{sc.school_category}}</th>
            <td class="border-2 p-2 text-center">{{sc.pc}}</td>
            {%endfor%}
        </tr>
        </tbody>
    </table>
    </details>    
</div>
</div>
<div>
{% endblock %}