{%extends "base.html" %}

{% block title %}profile{% endblock%}

{% block content %}
<div class="text-black text-center p-2 rounded-xl mt-2">
  <p class="text-md font-bold">{{profile.user.get_full_name|default_if_none:''|upper}} </p>
    {%if not profile.file_no %}
    <a href="{%url 'doc' profile.user.pk %}" class="text-cyan-900 text-lg font-semibold">start documentation</a>
    {%endif%}
</div>

     <div class="flex justify-center text-md text-blue-500">
          {% if messages %}
          {%for m in messages%}
         <p {% if m.tags%} class="{{m.tags}}"{%endif%}>{{m}}</p>
           {%endfor%}
          {% endif %}
        </div>
<div class="min-h-screen mt-10">
<div data-tabs class="flex flex-wrap max-sm:flex-col max-sm:gap-4 p-2 justify-center max-sm:pb-2 pb-4 max-w-full">
     <input checked="checked" id="tab1" type="radio" name="tab" data-tab="tab1" />
     <input id="tab2" type="radio" name="tab" data-tab="tab2" />
    <input id="tab3" type="radio" name="tab" data-tab="tab3" />
    <input id="tab4" type="radio" name="tab" data-tab="tab4" />
    <input id="tab5" type="radio" name="tab" data-tab="tab5" />
    <input id="tab6" type="radio" name="tab" data-tab="tab6" />
    <input id="tab7" type="radio" name="tab" data-tab="tab7" />
    <input id="tab8" type="radio" name="tab" data-tab="tab8" />
    <input id="tab9" type="radio" name="tab" data-tab="tab9" />
    <nav class="m-6 font-semibold text-sm shadow-2xl shadow-slate-800 p-4 rounded-xl">
      <label for="tab1" data-tab-label="tab1" role="tab"><i class="fa-solid fa-circle-info fa-2xl text-teal-800"></i>&nbsp;PERSONAL INFO</label>
      <label for="tab2" data-tab-label="tab2" role="tab"><i class="fa-solid fa-file-contract fa-2xl text-green-800"></i>&nbsp;GOVT APPT</label>
      <label for="tab3" data-tab-label="tab3" role="tab"><i class="fa-solid fa-graduation-cap fa-2xl text-indigo-900"></i>&nbsp;QUALIFICATIONS</label>
      <label for="tab4" data-tab-label="tab4" role="tab"><i class="fa-solid fa-graduation-cap fa-2xl text-cyan-900"></i>&nbsp;PROFESSIONAL QUALIFICATIONS</label>
      <label for="tab5" data-tab-label="tab5" role="tab"><i class="fa-solid fa-person-arrow-up-from-line fa-2xl text-emerald-900"></i>&nbsp;PROMOTION</label>
      <label for="tab6" data-tab-label="tab6" role="tab"><i class="fa-solid fa-circle-exclamation fa-2xl text-rose-900"></i>&nbsp;DISCIPLINE</label>
      <label for="tab7" data-tab-label="tab7" role="tab"><i class="fa-solid fa-bed fa-2xl text-yellow-900"></i>&nbsp;LEAVE</label>
      <label for="tab8" data-tab-label="tab8" role="tab"><i class="fa-solid fa-user-tie fa-2xl text-blue-900"></i>&nbsp;EXECUTIVE APPT</label>
      <label for="tab9" data-tab-label="tab9" role="tab"><i class="fa-solid fa-person-walking-with-cane fa-2xl text-orange-900"></i>&nbsp;RETIREMENT</label>
    </nav>
    <section data-tab-panel="tab1" role="tabpanel" aria-labelledby="tab1" class="w-full  p-2 shadow-xl justify-center bg-teal-700 text-center text-sm rounded-xl">
<p>
  dob:{{profile.dob|default_if_none:''}}
</p>
<br><hr>
<p>
  file number:{{profile.file_no|default_if_none:''}}
</p>
<br><hr>
<a href="{%url 'update_user' profile.user.pk %}">update user</a><br>
<a href="{%url 'update_profile' profile.pk %}">update profile</a><br>
    </section>
      <section data-tab-panel="tab2" role="tabpanel" aria-labelledby="tab2" class="w-full p-2 shadow-xl justify-center bg-green-700 text-center text-sm  rounded-xl">
<p>post:{{govapp.cpost}}</p>
  <hr>

<a href="{%url 'update_govapp' profile.pk %}">update govt appt</a><br>
<br><hr>
    </section>
    <section data-tab-panel="tab3" role="tabpanel" aria-labelledby="tab3" class="w-full p-2 shadow-xl justify-center bg-indigo-700 text-center text-sm  rounded-xl">
<h1>qualification</h1>
<a href="{%url 'qual' username=profile.user.username %}">add<br>
  <hr>
{% for q in qualifications %}
    <p>{{ q.school }}</p>
    <p>{{ q.qual }}</p>
    <a href="{%url 'qual_update' q.pk %}">update</a><br>
<a href="{%url 'qual_delete' q.pk %}">delete</a><br>
    <hr>
{% endfor %}
<br><hr>
    </section>
    <section data-tab-panel="tab4" role="tabpanel" aria-labelledby="tab4" class="w-full p-2 shadow-xl justify-center bg-cyan-700 text-center text-xs rounded-xl">
<h1>professional qualification</h1>
<a href="{%url 'pro_qual' username=profile.user.username %}">add<br>
  <hr>
{% for p in pro_qualifications %}
    <p>{{ p.institute }}</p>
    <p>{{ p.inst_address }}</p>
    <a href="{%url 'pro_qual_update' p.pk %}">update</a><br>
<a href="{%url 'pro_qual_delete' p.pk %}">delete</a><br>
    <hr>
{% endfor %}
<br><hr>
    </section>
    <section data-tab-panel="tab5" role="tabpanel" aria-labelledby="tab5" class="w-full p-2 shadow-xl justify-center bg-emerald-700 text-center text-xs  rounded-xl">
<h1>promotion</h1>
<a href="{%url 'promotion' username=profile.user.username %}">add<br>
  <hr>
{% for p in promotion %}
    <p>{{ p.cpost }}</p>
    <p>{{ p.gl }}</p>
    <p>{{ p.step }}</p>
    <a href="{%url 'promotion_update' p.pk %}">update</a><br>
    <a href="{%url 'promotion_delete' p.pk %}">delete</a><br>
    <hr>
{% endfor %}
<br><hr>

    </section>
    <section data-tab-panel="tab6" role="tabpanel" aria-labelledby="tab6" class="w-full p-2 shadow-xl justify-center bg-rose-700 text-center text-xs  rounded-xl">

<h1>discipline</h1>
<a href="{%url 'discipline' username=profile.user.username %}">add<br>
  <hr>
{% for d in discipline%}
    <p>{{ d.offense }}</p>
    <p>{{ d.decision }}</p>
    <a href="{%url 'discipline_update' d.pk %}">update</a><br>
    <a href="{%url 'discipline_delete' d.pk %}">delete</a><br>
    <hr>
{% endfor %}
<br><hr>

    </section>
    <section data-tab-panel="tab7" role="tabpanel" aria-labelledby="tab7" class="w-full p-2 shadow-xl justify-center bg-yellow-700 text-center text-xs  rounded-xl">
<h1>leave</h1>
<a href="{%url 'leave' username=profile.user.username %}">add<br>
  <hr>
{% for l in leave %}
    <p>{{ l.nature }}</p>
    <p>{{ l.year }}</p>
    <a href="{%url 'leave_update' l.pk %}">update</a><br>
    <a href="{%url 'leave_delete' l.pk %}">delete</a><br>
    <hr>
{% endfor %}
<br><hr>
    </section>
    <section data-tab-panel="tab8" role="tabpanel" aria-labelledby="tab8" class="w-full p-2 shadow-xl justify-center bg-blue-700 text-center text-xs  rounded-xl">
<h1>executive appointment</h1>
<a href="{%url 'execapp' username=profile.user.username %}">add<br>
  <hr>
{% for e in execapp %}
    <p>{{ e.designation }}</p>
    <p>{{ e.status }}</p>
    <a href="{%url 'execapp_update' e.pk %}">update</a><br>
    <a href="{%url 'execapp_delete' e.pk %}">delete</a><br>
    <hr>
{% endfor %}
<br><hr>
    </section>
    <section data-tab-panel="tab9" role="tabpanel" aria-labelledby="tab9" class="w-full p-2 shadow-xl justify-center bg-orange-700 text-center text-xs  rounded-xl">
<h1>retire</h1>
{% if not profile.user.retirement %}
<a href="{%url 'retire' username=profile.user.username %}">add<br>
  {%endif%}
  <hr>
{% for r in retirement %}
    <p>{{ r.status }}</p>
    <p>{{ r.retire }}</p>
    <a href="{%url 'retire_update' r.pk %}">update</a><br>
    <a href="{%url 'retire_delete' r.pk %}">delete</a><br>
    <hr>
{% endfor %}
<br><hr>
    </section>
  </div>
  </div>
{% endblock %}