{% extends 'base.html'%}

{% block title %}remove discipline{% endblock%}
{% block main %}
<section class="text-center border-t-2 border-green-800"></section>
<div class="text-2xl text-red-800 font-bold p-20 mt-20 uppercase border-b-4 flex flex-col justify-center border-2 border-green-800 w-full max-sm:mt-30 mt-20 sm:max-w-3xl mx-auto shadow-2xl overflow-hidden rounded-lg">
<p class=" border-b-4 border-green-800 mb-4"> warning</p><br>     
<p>are you sure you want to REMOVE this discipline record for: {{user.emp.last_name}} {{user.emp.first_name}}</p>
<section class="mt-10 text-center border-t-2 border-green-800"></section>
<p>this is action is not reversible!</p>
<section class="mb-10 text-center border-t-2 border-green-800"></section>
<form action="{% url 'staff:removediscipline' user.id %}" method="POST">
    {% csrf_token %}
    <a href="{% url 'staff:staffdetail' pk=user.emp.id %}">NO</a>
    <input type="submit" value="YES" name="confirm" >
</form>
</div>
{% endblock %}