{% extends 'base.html'%}
{% load static %}
{%block title%}staff list{%endblock%}
{%block content %}

    <div class="flex justify-center text-md text-red-500">
          {% if form.errors %}
          {{form.errors}}
          {% endif %}
    </div>
        {% for message in messages %}
      <div class="mt-4">
           <div class="w-fit flex justify-center items-center text-center uk-alert-success rounded-2xl text-sm" uk-alert>
            <a href class="uk-alert-close font-bold" uk-close></a>
            <p class="text-green-700 font-semibold">{{ message }}</p>
            </div>
      </div>
      {% endfor %}
        <div class="flex justify-between m-1">
            <div class="">
                <span class="shadow-xl shadow-cyan-900 gap-4 bg-cyan-900 text-white uppercase max-sm:text-lg text-sm border-b-2 border-cyan-900 py-2 px-4 rounded-xl mx-2 w-fit">total staff
                    <span class=" shadow-white text-sm p-1 rounded-full bg-white text-cyan-900">{{total_profiles}}</span>
                    <span>&nbsp;<button class="bg-cyan-900  text-white uppercase max-sm:text-lg text-md border-b-2 border-cyan-900 py-2 px-2 rounded-xl w-fit" 
                        id="showButton" hx-get="{% url 'reg' %}" hx-target="#modals-here" _="on htmx:afterOnLoad wait 10ms then add .uk-open to #modal"><i class="fa-solid fa-plus fa-xl"></i></button></span>
                        {% if request.GET.urlencode %}
                        <span>
                            <a href="?" class=" p-2 focus:opacity-10  focus:border-cyan-600 bg-orange-500text-white rounded shadow-lg hover:shadow-xl text-center w-fit">
                                <i class="fa-solid fa-rotate fa-lg text-white"></i></a>
                            </span>
                            {%endif%}
                        </span>
                    </div>
                    <div class="text-cyan-900">
                        <form method="get" class="text-xs">
                            <div class="text-center">
                                {% for field in staffFilter.form %}
                                <label for="{{field.id_for_label}}" class="inline">{{ field.label_tag }}</label>
                                <input type="field.field.widget.input_type" name="{{field.name}}"
                                class="text-center text-sm focus:outline-none w-fit text-cyan-950 p-2
                                rounded shadow-xl shadow-cyan-900 border-cyan-900 border"
                                {%if field.value%} value="{{field.value}}"{%endif%}> 
                                {% endfor %}
                                <button type="submit" class="shadow-xl shadow-cyan-900 w-fit p-3 focus:opacity-10 uppercase border-gray-500 focus:border-cyan-600 bg-cyan-900 text-white rounded hover:border-cyan-700 ">
                                    <i class="fa-solid fa-search fa-xl "></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            <div id="modals-here"></div>
              
<div class="w-fit mx-auto p-1 max-sm:p-2 text-sm rounded-lg text-center">
    <table class="table-auto mt-0 max-sm:flex flex shadow-2xl shadow-cyan-900 rounded-xl mb-10 items-center justify-center">
        <tbody class="text-cyan-800 border-2 shadow-2xl shadow-black rounded-xl max-sm:p-4 p-1 overflow-x-auto border-cyan-600 bg-white">            
            <tr class="text-xs bg-cyan-900 rounded-xl text-white">
                <th scope="col" class="border-l-2 border-b-2 border-b-white border-cyan-800 border-t-2 border-t-white ">S/N</th>
                <th scope="col" class="border-2 p-2">SURNAME</th>
                <th scope="col" class="border-2 p-2">MIDDLE NAME</th>
                <th scope="col" class="border-2 p-2">FIRST NAME</th>
                <th scope="col" class="border-2 p-2">FILE NUMBER</th>
                <th scope="col" class="border-2 p-2">IPPIS NUMBER</th>
                <th scope="col" class="border-2 p-2">SEX</th>
                <th scope="col" class="border-2 p-2" >DEPARTMENT</th>
                <th scope="col" class="border-2 p-2">CURRENT POST</th>
                <th scope="col" class="border-2 p-4">DATE OF FIRST APPOINTMENT</th>
                <th scope="col" class="border-2 border-cyan-800 text-gray-100 p-2 border-t-2 border-t-white border-b-white">FULL DETAILS</th>
            </tr>
        {% for p in profiles %}
        <tr class="text-xs text-cyan-900">
           <td class="border-2 border-cyan-800 text-center p-2">
            {{forloop.counter}}
           </td> 
            <td class="border-2 border-cyan-800 p-2 text-center">
               {{p.user.last_name|default_if_none:''|upper}}
            </td>
            <td class="border-2 border-cyan-800 p-2 text-center">
                {{p.middle_name|default_if_none:''|upper}}
            </td>
            <td class="border-2 border-cyan-800 p-2 text-center">
                {{p.user.first_name|default_if_none:''|upper}}
            </td>
            <td class="border-2 border-cyan-800 p-2 text-center">
                {{p.file_no|default_if_none:''}}
            </td>
            <td class="border-2 border-cyan-800 p-2 text-center">
                {{p.user.governmentappointment.ippis_no|default_if_none:''}}
            </td>
            <td class="border-2 border-cyan-800 p-2 text-center">
                {{p.gender|default_if_none:''|upper}}
            </td>
            <td class="border-2 border-cyan-800 p-2 text-center">                
                {{p.governmentappointment.department|default_if_none:''|upper}}
            </td>
            <td class="border-2 border-cyan-800 p-2 text-center">
                {{p.user.governmentappointment.cpost|default_if_none:''|upper}}
            </td>
            <td class="border-2 border-cyan-800 p-2 text-center">
                {{p.user.governmentappointment.date_fapt|date:'d-M-Y'|default_if_none:''|upper}}
            </td>
             <td class="p-1 border-2 border-cyan-800"> 
            <a class="" href="{{p.get_absolute_url}}"><i class="fa-solid fa-folder-open fa-2xl text-orange-800"></i></a>
                </td> 
            </tr>
            {% endfor %}
         <tr class="flex justify-center text-center p-1">
            <td class="">        
       <div class="text-center flex justify-center items-center">
            <span class=" items-center">
                  {% if page_obj.has_previous %}
                <a href="?page=1" class="p-2 px-2 rounded-lg bg-cyan-900 text-white mr-2"><i class="fa-solid fa-angle-double-left fa-lg"></i></a>
                <a href="?page={{page_obj.previous_page_number}}" class="p-2 px-2 rounded-lg bg-cyan-900 text-white"><i class="fa-solid fa-angle-left fa-lg"></i></a>
                {% endif %}
            </span>
                <span class="text-sm text-gray-700 m-2">
                    {{page_obj.number}} of {{page_obj.paginator.num_pages}}
                </span>
                <span class="flex item-center">
                    {% if page_obj.has_next %}
                    <a href="?page={{page_obj.next_page_number}}" class="p-2 px-2 rounded-lg bg-cyan-900 text-white mr-2"><i class="fa-solid fa-angle-right fa-lg"></i></a>
                    <a href="?page={{page_obj.paginator.num_pages}}" class="p-2 px-2 rounded-lg bg-cyan-900 text-white"><i class="fa-solid fa-angle-double-right fa-lg"></i></a>
                    {% endif %}
                </span>
            </div>
        </td>
        </tr>
</tbody>
</table>
</div>
{% endblock %}